.Booking-main {
    position: relative;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.Booking-header {
    display: flex;
    position: relative;
    border: 1px solid blue;
}

.Booking-content {
    align-self: right;
    position: relative;
    border: 1px solid yellow;
}

.Booking-counter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}