.Booking-main {
    position: relative;
    border: 0px solid red;
    width: 100%;
    height: 100%;
}

.Booking-header {
    display: flex;
    position: relative;
    border: 0px solid blue;
}

.Booking-content {
    display: flex;
    position: relative;
}

.Booking-content .Booking-room-names {
    position: relative;
    top: 40px;
    width: 20%;
}

.Booking-content .Booking-room-times {
    margin: 8px;
}

.Booking-counter {
    display: flex;
    justify-content: flex-end;
}

.Booking-date {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
}