.Booking-main {
    position: relative;
    border: 0px solid red;
    width: 100%;
    height: 100%;
}

.Booking-header {
    display: flex;
    position: relative;
    border: 0px solid blue;
}

.Booking-content {
    align-self: right;
    position: relative;
    border: 0px solid yellow;
}

.Booking-counter {
    display: flex;
    justify-content: flex-end;
}

.Booking-date {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
}