.List-main {
    list-style: none;
    padding: 0px;
    user-select: none;
}

.List-main .List-item {
    padding: 8px;
    font-size: 20px;
}

.List-main .List-item:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
}

.List-main .List-item.List-selected-item,
.List-main .List-item:active {
    background: #09d3ac;
    color: white;
}

.List-main .List-item:not(.List-selected-item):hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}