ul.List-main {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.List-main li {
    padding: 8px;
    font-size: 20px;
}

ul.List-main li:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
}

ul.List-main li.List-selected-item,
ul.List-main li:active {
    background: #09d3ac;
    color: white;
}

ul.List-main li:not(.List-selected-item):hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}