.TimeLine-main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 80vw;
    overflow: hidden;
    white-space: nowrap;
    max-height: 20px;
}

.TimeLine-cell {
    font-size: 16px;
    min-width: 47px;
    max-width: 47px;
    height: 20px;
    max-height: 20px;
    background: #ccc;
    margin-left: 8px;
}

.TimeLine-cell-booked {
    background-color: #C62828;
}

.TimeLine-cell-booked-edge {
    margin-right: 0;
}

.TimeLine-cell-booked:not(.TimeLine-cell-booked-edge) {
    margin-left: 0;
    padding-left: 8px;
}

.TimeLine-cell-action-wrapper {
    position: relative;
}

.TimeLine-cell-action-button {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 0.5em;
    cursor: pointer;
    visibility: hidden;
}

.TimeLine-cell-action-wrapper:hover .TimeLine-cell-action-button {
    visibility: visible;
}