.TimeSlider-container {
    border: 1px solid #eee;
}

.TimeSlider-main {
    margin: 0 32px;
}

.TimeScale-container {
    display: flex;
    user-select: none;
}

.TimeScale {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
    margin: 4px 8px;
}

.TimeScale.button {
    width: 24px;
    height: 24px;
    font-weight: bold;
    background: #09d3ac;
    color: white;
    cursor: pointer;
}

.TimeScale.button:active {
    background: white;
    color: #09d3ac;
}

.TimeScale-main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 80vw;
    overflow: hidden;
    padding: 8px 0;
    font-size: 16px;
}

.TimeScale-time-block {
    margin-left: 8px;
    color: #c3c3c3;
    font-weight: bold;
    min-width: 47px;
    max-width: 47px;
}

.TimeScale-time-block-currentTime {
    color: #aaa;
}

.TimeScale-time-block-selectedTime {
    color: #09d3ac;
}